.section {
  width: 330px;
  display: flex;
  justify-content: space-between;
}
.person {
  display: flex;
  border: 2px solid rgb(232, 219, 219);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(201, 189, 175, 0.082);
}

.person img {
  background-color: rgb(236, 244, 244);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid rgb(196, 176, 176);
}
