.App {
  text-align: center;
}

input {
  margin: 15px;
}

.lists {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
}
.list {
  border: 1px solid black;
  margin: 20px;
  padding: 30px;
  width: 200px;
}
